@media all and (max-width:768px){ 
    body{
        margin:0px !important;
    }

    #banner {
    
        flex-direction: column;
        margin: 0px !important;
        padding: 0px !important;
    }
    #banner img{
        margin-top: 26px;
    }
    #banner nav{
        display: flex;
    }
    #banner nav a{
        margin: 0px !important;
        width: 50% !important;

    }
    #banner nav a:hover {
        border-bottom: 2px solid var(--primary-color);
        border-top: 0px !important; /* le important permet d'ecraser le border top de base */
    }

    .title{
        margin:0px 12px 
    }


    /* Search bar*/
    #search_bar form{
        justify-content: center;
        align-items: center;
        margin: 0px 12px;
    }
    #search_bar .search-bar{
        width: 100% ;
    }
    #search_bar .button2{
        display: none;
    }
    #search_bar .button_loupe{
        height: 44px;
        width: 44px;
        background-color: var(--primary-color);
        color: white;
        border: none;
        border-radius: 10px 10px 10px 10px;
    }

    /*Barre de filtres*/

    #filter{
    margin: 0px 12px;
    flex-wrap: wrap;    
    }
    #filter_title{
        width: 700px;

    }

    /*Infos*/
    #infos{
        width: 700px;
    }

    #hebergement_populaire{
        display: block;
    }

}

