*{
    box-sizing: border-box;
}

body{
    --primary-color: #0065fc;
    --secondary-color: #deebff;
    --section-background-color: #F2F2F2; /*Donner des noms du plus générique au plus spécifique*/
    font-family: 'Raleway', sans-serif;
    font-weight: bolder;
    margin: 0px 28px;
}


h4{
    padding: 0px ;
    margin: 0px;
    font-size: x-large;
    font-weight: bolder;
}

h6{
    font-size: medium;
}

/*   header */



#banner{

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 12px;
 
}
#banner img {
    height: 30px;
    padding: 0px 8px;
    
}

#banner nav a {
    text-decoration: none;
    color: black;
    display: inline-block;
    padding: 17px;
    border-top: 2px  solid transparent;
    border-bottom: 2px  solid transparent;
}
#banner nav a:hover {
    border-top: 2px solid var(--primary-color);
    color: var(--primary-color);   
}
.title{
    margin-top: 10px;
}


.subtitle{
    margin: 4px 0px;
}

/* search bar */ 

#search_bar form{
    display: flex;
    text-align: justify;
    margin-top: 16px;
    padding: 8px 0px;
    border-radius: 20%;
      
} 

#search_bar .button1{
    width: 40px;
    background-color: whitesmoke;
    border:none;
    border-radius: 10px 0px 0px 10px;

}
#search_bar .search-bar{
    border: 1px solid whitesmoke;
    border-radius: 0%;
    font-weight: 600;
    
}
#search_bar .button2{
    height: 44px;
    background-color: var(--primary-color);
    color: white;
    border: none;
    border-radius: 0px 10px 10px 0px;
}
@media  (min-width: 768px)
{
    #search_bar .button_loupe{
        display: none;
    }

}

/* Barre des filtres*/

#filter{
    display: flex;
    flex-wrap: wrap;
    border: 2px solid green;
    align-items: center;
}
#filter h6{
    margin: 14px;
}
.filter_button{
    display: flex;
    border : 2px  solid  lightgrey;
    border-radius: 100px;
    background-color: white;
    margin: 8px;
    padding: 0px; 
}
.filter_button:hover{
    box-shadow: 2px 2px 8px var(--primary-color);
}
.filter_button .button_title{
    position: relative;
    justify-content: center;
    align-items: center;
    background-color: white;
    padding: 8px;
    margin: 8px;
}
.icons{
    display: flex;
    justify-content: center;
    width: 50px;
    height: 50px;
    align-items: center;
    position: relative;
    background-color: var(--secondary-color);
    color: var(--primary-color);
    border-radius: 100px;
    border: none;
    overflow: visible;
}

/* Petite info en dessous */
#info{
    display: flex;
    align-items: center;
    height: 24px;
}
#info i{
    text-align: center;
    font-size: smaller;
    color: var(--primary-color);
    border: 1px solid whitesmoke;
    border-radius: 100px;
    height: 21px;
    width: 21px;
}

/* 1ere section */
#ancre1{
    border: 2px solid rgb(0, 255, 42);
    margin-top: 27px;
    display: flex;
    flex-wrap: wrap-reverse;
    
    
}
.hebergement_marseille{
    border: 2px solid red;
    border-radius: 16px;
    background-color: var(--section-background-color);
    margin-right: 16px;
    padding: 21px;
    max-width: 880;
    max-height: 6250px;
    flex: 1;
    flex-direction: column;
    
    align-items: center;
    
}



.heber_med{
    border: 2px solid rebeccapurple;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: flex-start;
    margin:  26px 0px;
   

    
}
.hebergement_marseille h6{
    font-size: smaller;
    margin: 12px 0px 0px 0px;
}
.hebergement_marseille p{
    font-size: xx-small;
    margin: 0;
}
/* Bloc hébergement marseille */
.affiches_heber{
    display: block;
    justify-content: space-between;
    border-radius: 16px;
    box-shadow: 2px 2px 12px lightgrey ;
    background-color: white;
    height: 200px;
    width: 250px;
    margin: 20px;  
}
.affiches_heber a{
    color: #333;
    text-decoration: none;
}
.affiches_heber:hover{
    width: 220px

}
.affiches_img{
    display: block;
    height: 150px;
    width: 33%;
    position: relative;
}
.hebergement_marseille img{
    margin: auto;
    width: auto;
    height: 100%;
    border-radius: 16px 16px 0px 0px;
    display: block;
    align-content: center;
    top: 50%;
    left: 50%;
}
.hebergement_populaire{
    border: 2px solid fuchsia;
    border-radius: 16px;
    background-color: var(--section-background-color);
    margin-right: 16px;
    padding-top: 21px;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 420px;
    max-height: 100%;
}
.most_popu img{

    width: 125px;
    height: 136px;
    border-radius: 16px 0px 0px 16px;
    display: block;
    align-content: flex-start;

}
.most_popu{
    display: flex;
    justify-content: flex-start;
    border-radius: 16px;
    box-shadow: 2px 2px 12px lightgrey ;
    background-color: white;
    width: 200px;
    padding: 4px; 
}
.most_popu.affiche_title{
    height: max-content;
    width: max-content;

}
