*{
    box-sizing: border-box;
}

body{
    --primary-color: #0065fc;
    --secondary-color: #deebff;
    --section-background-color: #F2F2F2; /*Donner des noms du plus générique au plus spécifique*/
    width: auto;
    font-family: 'Raleway', sans-serif;
    margin: 0px 24px;
}

/*   header */


h4{
    padding: 0px ;
    margin: 0px;
}

h6{
    font-size: medium;
}
#banner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 12px;
}
#banner img {
    height: 36px;
    padding: 0px 8px;
    
}

#banner nav a {
    text-decoration: none;
    color: black;
    display: inline-block;
    padding: 40px;
}
#banner nav a:hover {
    border-top: 2px solid var(--primary-color);
    color: var(--primary-color);   
}


.subtitle{
    margin: 4px 0px;
}

/* search bar */ 

#search_bar form{
    display: flex;
    text-align: justify;
    margin-top: 16px;
    padding: 8px 0px;
    border-radius: 20%;
      
} 

#search_bar .button1{
    width: 40px;
    background-color: whitesmoke;
    border:none;
    border-radius: 10px 0px 0px 10px;

}
#search_bar .search-bar{
    border: 1px solid whitesmoke;
    border-radius: 0%;
    font-weight: 600;
    
}
#search_bar .button2{
    height: 44px;
    background-color: var(--primary-color);
    color: white;
    border: none;
    border-radius: 0px 10px 10px 0px;
}

/* Barre des filtres*/

#filter{
    display: flex;
    border: 2px solid green;
    height: 44px;
    align-items: center;
}
.filter_button{
    display: flex;
    border: 2px solid  lightgrey;
    border-radius: 100px;
    background-color: white;
    margin-left: 16px
    
    
}
.filter_button .button_title{
    border: none;
    background-color: white;
}
.icons{
    border: none;
    background-color: var(--secondary-color);
    color: var(--primary-color);
    border-radius: 100px;
}

/* Petite info en dessous */
#info{
    display: flex;
    align-items: center;
    height: 24px;
}
#info i{
    text-align: center;
    font-size: smaller;
    color: var(--primary-color);
    border: 1px solid whitesmoke;
    border-radius: 100px;
    height: 21px;
    width: 21px;
}

